/* .container {
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 10px solid #761313;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .editButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .deleteButton {
    background-color: #5f36f4;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
   */